---
layout: project.jade
title: 'The Useless Keyboard'
description: "No, really, it's completely useless."
date: 2015-12-12
styles:
- keyboard.css
scripts:
- /lib/jquery.min.js
- keyboard.js
url: /projects/keyboard
thumbnail: /img/thumbnails/keyboard-preview.png
---
section#words the useless keyboard
section#keyboard
	span.a A
	span.b B
	span.c C
	span.d D
	span.e E
	span.f F
	span.g G
	span.h H
	span.i I
	span.j J
	span.k K
	span.l L
	span.m M
	span.n N
	span.o O
	span.p P
	span.q Q
	span.r R
	span.s S
	span.t T
	span.u U
	span.v V
	span.w W
	span.x X
	span.y Y
	span.z Z
	span.space
		i.fa.fa-refresh