html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='icon', href='/favicon.ico')
		script(defer data-domain="chrisklimowski.com" src="https://plausible.io/js/plausible.js")
		block head
	body
		block body