@keyframes arm {
    0% {transform: rotate(0deg);}
    30% {transform: rotate(45deg);}
    40% {transform: rotate(45deg);}
    50% {transform: rotate(0deg);}
}

@keyframes ball {
    0% {transform: rotate(0deg);}
    45% {transform: rotate(-55deg);}
    55% {
        transform: rotate(0deg);
    }
}

@keyframes shake {
    55% {transform: translate(0, 0);}
    56% {transform: translate(0, 30px);}
    57% {transform: translate(0, -25px);}
    58% {transform: translate(0, 20px);}
    59% {transform: translate(0, -15px);}
    60% {transform: translate(0, 10px);}
    61% {transform: translate(0, -5px);}
    62% {transform: translate(0, 0);}
}

#text, #sky, #ground, .navbar-option {
    -webkit-animation: shake 7s ease infinite;
    animation: shake 7s ease infinite;
}

#car, #arm, #ball, #crane {
    width: 471px;
    height: 392px;
}

body {
    background-color: #78bbf4;
}

#picture {
    background-color: #78bbf4;
    padding-top: 100px;
    width: 50%;
    float: right;
    padding-top: 308px;

    #sky {
        background-image: url('img/skyline.png');
        background-position: 0 100%;
        background-repeat: repeat-x;

        #crane {
            position: relative;

            #car {
                background-image: url('img/car.png');
                position: absolute;
                top: 0;
                left: 0;
            }

            #arm {
                background-image: url('img/arm.png');
                -webkit-animation: arm 7s linear infinite;
                animation: arm 7s linear infinite;
                transform-origin: 230px 300px;
                z-index: -1;

                #ball {
                    background-image: url('img/ball.png');
                    -webkit-animation: ball 7s ease-in infinite;
                    animation: ball 7s ease-in infinite;
                    transform-origin: 40px 2px;
                }
            }
        }
    }
    #ground {
        background-color: #284a66;
        height: 500px;
    }
}

#message {
    text-align: center;
    background-color: #284a66;
    font-family: serif;
    position: relative;
    padding-top: 200px;
    margin-right: 50%;
    height: 1000px;
    text-align: right;

    #text {
        text-align: center;
        background-color: #ffe71b;
        padding: 20px;
        color: #000;
        width: 400px;
        margin: 30px;
        border: solid #000 10px;
        border-radius: 20px;
        position: absolute;
        right: 10px;

        h1 {
            font-family: 'Oswald', sans-serif;
            font-weight: normal;
            margin: 0;
            font-size: 300%;
        }

        p {
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
        }
    }
}

.navbar {
    top: 0 !important;

    .navbar-option {
        position: absolute !important;

        &.left {
            left: 0 !important;
        }

        &.right {
            right: 0 !important;
        }
    }
}