---
layout: project.jade
title: 'Site Under Construction'
description: 'An animated "site under construction" page with no JavaScript.'
date: 2015-12-13
styles:
- construction.css
url: /projects/construction
thumbnail: /img/thumbnails/construction-preview.png
---
section#picture
	div#sky
		div#crane
			div#arm
				div#ball
			div#car
	div#ground
section#message
	div#text
		h1 SITE UNDER CONSTRUCTION
		p We'll be back soon!