extends ../../templates/project

block head
	title Site Under Construction
	link(rel="stylesheet", href="construction.css")

block body
	section#picture
		div#sky
			div#crane
				div#arm
					div#ball
				div#car
		div#ground
	section#message
		div#text
			h1 SITE UNDER CONSTRUCTION
			p We'll be back soon!