---
layout: project.jade
title: "0.5 A Presses"
description: "My entry for the 2018 GMTK Game Jam."
date: 2018-07-07
url: /projects/zero-point-five
thumbnail: /img/thumbnails/0.5-preview.png
scripts:
    - /lib/phaser.min.js
    - game.js
---
header
    h1 0.5 A Presses
section#content
    div.game-wrapper
        div#game
footer
    p
        |I made this game in 24 hours for the 
        a(href="https://itch.io/jam/gmtk-2018") 2018 Game Maker's Toolkit Jam
        |! It placed 55th out of 1,047 entries.
    p
        a(href="/") More projects