---
layout: project.jade
title: "Dot Dungeons"
description: "A puzzle game about making numbers go away."
date: 2018-11-07
url: /projects/dot-dungeons
thumbnail: /img/thumbnails/dot-dungeons-preview.png
styles:
- dd.css
---
header
    img(src='img/menu/logo.png' alt='Dot Dungeons')
section.text-content.centered
    h2 Choose your platform:
    ul.platform-choices
        li.platform-choice
            a(href='./web.html')
                div.platform-icon
                    i.fa.fa-fw.fa-desktop
                div.platform-name.
                    Desktop
        li.platform-choice
            a(href='./mobile.html')
                div.platform-icon
                    i.fa.fa-fw.fa-2x.fa-mobile
                div.platform-name.
                    Mobile
