extends ../../templates/project

block head
    title Dot Dungeons
    script(src="/lib/phaser.min.js")
    script(src="web.js")

block body
    main
        div.content.centered Using a mobile device? <a href="mobile.html">Play the touch screen version</a>
        div.game-wrapper
            div#game
    style.
        body {
            background-color: #333;
            color: #fff;
        }
        .social-icon {
            color: #fff;
        }
