---
layout: project.jade
title: "Dot Dungeons"
description: "A puzzle game about making numbers go away."
date: 2018-11-07
url: /projects/dot-dungeons
thumbnail: /img/thumbnails/dot-dungeons-preview.png
---
header
    img(src='img/logo-textured.png' alt='Dot Dungeons')
section#content
    div.text-content.centered
        h2 Choose your platform:
        ul.platform-choices
            li.platform-choice
                a(href='./web.html')
                    i.fa.fa-desktop
                    | 
                    | Desktop
            li.platform-choice
                a(href='')
                    i.fa.fa-lg.fa-mobile
                    | 
                    | Mobile (Coming soon!)
style.
    body {
        background-image: url('./img/paper-texture.png');
        background-color: #fff;
    }