extends ../../templates/project

block head
    title Dot Dungeons
    script(src="/lib/js.cookie.js")
    script(src="/lib/phaser.min.js")
    script(src="mobile.js")

block body
    section#content
        div.game-wrapper
            div#game
    style.
        body {
            background-color: #000;
        }
