---
layout: project.jade
title: 'Dot Dungeons'
scripts:
    - /lib/js.cookie.js
    - /lib/phaser.min.js
    - game.js
---
section#content
    div.game-wrapper
        div#game
style.
    body {
        background-color: #333;
    }