---
layout: project.jade
title: 'Dot Dungeons'
scripts:
    - /lib/js.cookie.js
    - /lib/phaser.min.js
    - game.js
---
section.game-wrapper
    div#game
footer
    p &copy; 2018 Chris Klimowski
    a(href='/') More projects
style.
    body {
        background-color: #333;
    }