---
layout: project.jade
title: 'Blast Down'
description: "A game about testing the world's first jetpack."
date: 2017-07-19
url: /projects/jetpack
thumbnail: /img/thumbnails/jetpack-preview.png
---
header
    img(src='img/logo.png' alt='Dot Dungeons')
section#content
    div.text-content.centered
        h2 Choose your platform:
        ul.platform-choices
            li.platform-choice
                a(href='./web.html')
                    i.fa.fa-desktop
                    | 
                    | Desktop
            li.platform-choice
                a(href='./mobile.html')
                    i.fa.fa-lg.fa-mobile
                    | 
                    | Mobile (Beta)
style.
    body {
        background-color: #444;
        color: #f4f4f4;
    }

    .platform-choices .platform-choice a {
        color: #f4f4f4;
        border-color: #f4f4f4;
    }