extends ../../templates/project

block head
    title Blast Down
    script(src='/lib/js.cookie.js')
    script(src='/lib/phaser.min.js')
    script(src='mobile.js')

block body
    div#game
    style.
        body {
            background-color: #000;
        }