---
layout: project.jade
title: 'Blast Down'
scripts:
    - /lib/js.cookie.js
    - /lib/phaser.min.js
    - web.js
---
section.game-wrapper
    div#game
footer
    p &copy; Chris Klimowski 2017
    a(href='/') More projects
style.
    body {
        background-color: #f4f4f4;
    }