extends ./base.jade

block body
	nav.light.navbar
		a.left.navbar-option(href='/') Home
	article.post
		h1#page-title= title
		div.video-wrapper
			!= contents
		p= description
	footer
		p &copy; 2017 Chris Klimowski