extends ../../templates/project

block head
    title Moving Pictures

block body
    section#content

        div.text-content
            div.video-content
                <iframe width="560" height="315" src="https://www.youtube.com/embed/qrE0Jhe92v4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        div.text-content
            p <em>Moving Pictures</em> is a pocket-sized cooperative card game for 2 players.
            p Both players must work together to get the storyboard panels from their hands into the Timeline in chronological order. However, until all of your cards have been played, you may not communicate in any way. Instead, you must make creative use of each card’s special effect to keep things in order.
        
        div.text-content.centered
            a.download-button(href="https://drive.google.com/drive/folders/1nnI2EgXDfMC-yp_qLkyWuO5FV3XfSNAm?usp=sharing") Download Files