$heading-font: 'Oswald', sans-serif;
$content-font: 'Open Sans', sans-serif;

html {
	min-height: 100%;
}

body {
	position: relative;
	background-color: #eee;
	color: #333;
	a {
		color: #59f;
		text-decoration: none;
	}
	a:hover, a:focus {
		text-decoration: underline;
	}
	h1, h2, h3, h4, h5, h6, .heading {
		font-family: $heading-font;
	}
	
	height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
}

.content-wrapper {
	flex: 1 0 auto;
}

.centered {
	text-align: center;
}

header {
	text-align: center;
	margin: 30px;
	img {
		max-width: 100%;
		height: auto;
	}
}

main {
	font-family: $content-font;
	margin: 50px auto;

	h1 {
		text-align: center;
	}
}

.social-icon {
	margin: 0 10px;
	color: #333;
	svg {
		width: 25px;
	}
}

footer {
	grid-row-start: 2;
	grid-row-end: 3;
	color: #888;
	text-align: center;
	font-family: $content-font;
	font-size: 14px;
	margin: 50px 20px;

	.social-icon {
		margin: 0 10px;
		svg {
			width: 25px;
		}
	}
}

.project-tiles {
	margin: 0px auto 50px auto;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;

	.project-tile {
		position: relative;
		margin: 5px;
		overflow: hidden;

		&.big {
			img {
				height: 325px;
			}
		}

		img {
			height: 160px;
			display: block;
		}

		a:hover, a:focus {
			outline: none;
			.project-info {
				top: 0%;
			}
		}

		.project-info {
			position: absolute;
			top: 0%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
			color: #fff;
			transition: all .2s;

			.project-title {
				margin: 0px 10px;
				height: 40px;
				font-family: $heading-font;
				font-size: 24px;
				line-height: 38px;
			}

			.project-description {
				margin: 20px;
				text-align: center;
				font-family: $content-font;
				font-size: 14px;
			}
		}
	}
}

.platform-choices {
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style-type: none;
	align-items: center;
	padding: 0;

	.platform-choice a {
		display: block;
		font-weight: bold;
		font-family: $content-font;
		margin: 5px;
		color: #333;
		border: 3px solid #333;
		padding: 15px 20px;
		border-radius: 10px;
	}
}

.game-wrapper div {
	max-height: 720px;
	max-width: 1280px;
	margin: 0px auto;
	display: flex;
	justify-content: center;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.content {
	max-width: 800px;
	margin: 40px auto;

	img.responsive {
		width: 80%;
		max-width: 400px;
		height: auto;
		margin: 30px 10%;
	}


	.download-button {
		display: inline-block;
		background-color: #fff;
		color: #000;
		border: 4px solid #000;
		padding: 20px;
		margin: 20px;
		font-weight: bold;
		font-size: 120%;
		border-radius: 10px;

		&:hover {
			background-color: #ddd;
		}

		&.blue {
			background-color: #2B66B0;

			&:hover {
				background-color: #3D7DCF;
			}
		}



		&.green {
			background-color: #218744;
			color: #fff;

			&:hover {
				background-color: #2BB059;
			}
		}

		&:hover {
			text-decoration: none;
		}
	}


	p {
		font-family: $content-font;
		line-height: 1.5;
		font-size: 110%;
		margin: 20px;

		&.minor {
			font-size: 100%;
			color: #888;
			text-align: center;
		}
	}
}

@media screen and (min-width: 500px) {
	.project-tiles {
		.project-tile {
			img {
				height: 200px;
			}
			&.big {
				img {
					height: 400px;
				}
			}
			.project-info {
				top: 75%;
				.project-title {
					font-size: 30px;
					line-height: 47.5px;
				}
				.project-description {
					font-size: 18px;
					margin-top: 40px;
				}
			}
		}
	}

	.content {
		h2 {
			font-size: 34px;
		}
	}

	footer, .minor {
		font-size: 16px;
	}
}


@media screen and (min-width: 700px) {
	.social-icon {
		margin: 0 25px;
		svg {
			width: 50px;
		}
	}
}
