extends ../../templates/project

block head
    title Our Glass
    script(src="/lib/lodash.min.js")
    script(src="/lib/phaser.min.js")
    script(src="js/game.js")

block body
    main
        div.game-wrapper
            div#game
