extends ../../templates/project

block head
    title OGOPOGO: a game about palindromes
    link(rel="stylesheet", href="ogopogo.css")

block body
    header
        div.ogopogo-letters
            img(src="o.png", class="o1" alt="letter o")
            img(src="g.png", class="g2" alt="letter g")
            img(src="o.png", class="o3" alt="letter o")
            img(src="p.png", class="p4" alt="letter p")
            img(src="o.png", class="o5" alt="letter o")
            img(src="g.png", class="g6" alt="letter g")
            img(src="o.png", class="o7" alt="letter o")
        //- p.subtitle a game about palindromes
        div.video-wrapper
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LnqJ3VB_6FE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    main
        div.content
            p.centered
                a.ogopogo-game-link(href="https://store.steampowered.com/app/1595020/").
                    Wishlist on Steam
            p.
                OGOPOGO is a game about searching for lake monsters by making palindromes. Compete for high scores and discover new gameplay twists as you explore the depths of this curious new puzzle mechanic.
            p.
                The game is planned for release on Steam and Itch in August, and on iOS and Android shortly after. For updates, follow <a href="https://twitter.com/csklimowski">@csklimowski</a>.
            p.
                For inquiries, email <a href="mailto:contact@chrisklimowski.com">contact@chrisklimowski.com</a>.