extends ../../templates/project

block head
    title OGOPOGO: a game about palindromes
    link(rel="stylesheet", href="ogopogo.css")

block body
    header
        div.ogopogo-letters
            img(src="o.png", class="o1" alt="letter o")
            img(src="g.png", class="g2" alt="letter g")
            img(src="o.png", class="o3" alt="letter o")
            img(src="p.png", class="p4" alt="letter p")
            img(src="o.png", class="o5" alt="letter o")
            img(src="g.png", class="g6" alt="letter g")
            img(src="o.png", class="o7" alt="letter o")
        p.subtitle a game about palindromes
    main
        div.content
            p.centered
                a.ogopogo-game-link(href="game.html")
                    | Play now in your browser<br><span class="small">(Chrome recommended)</span>
            p.
                OGOPOGO is a game about searching for lake monsters by making palindromes. Try to beat your high score and complete 20 challenging achievements as you plumb the depths of this curious new puzzle mechanic.
            p.
                Designed and developed by Chris Klimowski. Follow @csklimowski on <a href="https://twitter.com/csklimowski">twitter</a> or <a href="https://csklimowski.itch.io/">itch.io</a> for updates.
            p.
                Found a bug? Have a question? Just want to say hi? <a href="https://csklimowski.itch.io/ogopogo">Leave a comment on itch.io</a> or email me at <a href="mailto:contact@chrisklimowski.com">contact@chrisklimowski.com</a>.
