html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='icon', href='/favicon.ico')
		link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
		link(rel='stylesheet', type='text/css', href='/css/frontpage.css')
		script(defer data-domain="chrisklimowski.com" src="https://plausible.io/js/plausible.js")
		title Chris Klimowski
	body
		main.frontpage
			p.
				<svg width="100px" height="10px">
					<rect x="00" y="0" width="10" height="10" style="fill: #E29A23;"/>
					<rect x="30" y="0" width="10" height="10" style="fill: #E788C7;"/>
					<rect x="20" y="0" width="10" height="10" style="fill: #C6B931;"/>
					<rect x="10" y="0" width="10" height="10" style="fill: #4FA8F6;"/>
					<rect x="40" y="0" width="10" height="10" style="fill: #57B993;"/>
					<rect x="50" y="0" width="10" height="10" style="fill: #CD1843;"/>
					<rect x="60" y="0" width="10" height="10" style="fill: #0637D1;"/>
					<rect x="70" y="0" width="10" height="10" style="fill: #000000;"/>

				</svg>
			p.
				I'm Chris (they/them)!
				I've been a <a class="color-li" href="https://www.linkedin.com/in/chris-klimowski/">professional software developer</a> for over 7 years.
			p.
				I like to design <a class="color-itch" href="https://csklimowski.itch.io/">video games</a>.
				My most popular ones are <a class="color-sss" href="https://csklimowski.itch.io/six-sided-streets">Six-Sided Streets</a> and <a class="color-ott" href="https://otteretto.app/">Otteretto</a>.
			
			p.
				I also designed a card game called <a class="color-mp" href="https://boardgamegeek.com/boardgame/329669/moving-pictures">Moving Pictures</a> (and <a class="color-mp" href="https://boardgamegeek.com/boardgame/352605/moving-pictures-dinosaur-outbreak">two</a> <a class="color-mp" href="https://boardgamegeek.com/boardgame/406217/moving-pictures-marked-for-mystery">sequels</a>!) for <a class="color-bs" href="https://buttonshygames.com/">Button Shy Games</a>.
			
			p.
				You can find me on:

			ul
				li
					a(class="color-mp", href="https://bsky.app/profile/csklimowski.bsky.social") Bluesky
				li
					a(class="color-li", href="https://www.linkedin.com/in/chris-klimowski/") LinkedIn
				li
					a(class="color-itch", href="https://csklimowski.itch.io/") Itch.io
				li
					a(class="color-dis", href="https://discord.gg/ndK6wCcj66") Discord
			
			p.
				or email me at:

			p.centered.email
				span contact 
				span.deemph at 
				span chrisklimowski 
				span.deemph dot 
				span com 

			p.centered
				a(href="/projects/")
					img(class="lilguy" src="/img/run.gif", alt="?")

