---
title: Things by Chris Klimowski
layout: base.jade
---
section#content
	ul.project-tiles
		each project in collections.projects
			li.project-tile
				a(href=project.url)
					img(src=project.thumbnail)
					div.project-info
						div.project-title= project.title
						div.project-description= project.description
footer
	p
		| This is the home of projects by Chris Klimowski.
		| You can also find me on 
		a(href="https://github.com/csklimowski") GitHub
		|, 
		a(href="https://www.linkedin.com/in/chris-klimowski-725218104/") LinkedIn
		|, or 
		a(href="https://twitter.com/csklimowski") Twitter
		|.