extends templates/base

block head
	title Things by Chris Klimowski

block body
	section#content
		div.text-content
			p.minor
				| This is the home of projects by Chris Klimowski.
				| You can also find me on 
				a(href="https://github.com/csklimowski") GitHub
				|, 
				a(href="https://www.linkedin.com/in/chris-klimowski-725218104/") LinkedIn
				|, or 
				a(href="https://twitter.com/csklimowski") Twitter
				|.
		ul.project-tiles
			li.project-tile
				a(href='/projects/moving-pictures')
					img(src='/img/thumbnails/moving-pictures-preview.png')
					div.project-info
						div.project-title Moving Pictures
						div.project-description A cooperative card game about storyboarding.
			li.project-tile
				a(href='/projects/hierarchy')
					img(src='/img/thumbnails/hierarchy-preview.png')
					div.project-info
						div.project-title Hierarchy AI
						div.project-description An AI opponent for Hierarchy by Hugo Kawamata.
			li.project-tile
				a(href='/projects/tommy')
					img(src='/img/thumbnails/tommy-preview.png')
					div.project-info
						div.project-title Tommy Nook Extension
						div.project-description It's Tommy Nook, now in your browser! 
							small ...browser!
			li.project-tile
				a(href='/projects/midi')
					img(src='/img/thumbnails/midi-preview.png')
					div.project-info
						div.project-title Sheet Music Visualizer
						div.project-description Learn sheet music notes using a MIDI keyboard.
			li.project-tile
				a(href='/projects/park-de-triomphe')
					img(src='/img/thumbnails/park-preview.png')
					div.project-info
						div.project-title Park de Triomphe
						div.project-description A tiny card game of underhanded landscaping.
			li.project-tile.big
				a(href='/projects/dot-dungeons')
					img(src='/img/thumbnails/dot-dungeons-preview.png')
					div.project-info
						div.project-title Dot Dungeons
						div.project-description A puzzle game about making numbers go away.
			li.project-tile
				a(href='/projects/zero-point-five')
					img(src='/img/thumbnails/0.5-preview.png')
					div.project-info
						div.project-title 0.5 A Presses
						div.project-description My entry for the 2018 GMTK Game Jam.
			li.project-tile
				a(href='/projects/jetpack')
					img(src='/img/thumbnails/jetpack-preview.png')
					div.project-info
						div.project-title Blast Down
						div.project-description A game about testing the world's first jetpack.
			li.project-tile
				a(href='/projects/generator')
					img(src='/img/thumbnails/generator-preview.png')
					div.project-info
						div.project-title Cave Generator
						div.project-description A simple algorithm with neat results.
			li.project-tile
				a(href='/projects/keyboard')
					img(src='/img/thumbnails/keyboard-preview.png')
					div.project-info
						div.project-title The Useless Keyboard
						div.project-description No, really, it's completely useless.
			li.project-tile
				a(href='/projects/construction')
					img(src='/img/thumbnails/construction-preview.png')
					div.project-info
						div.project-title Site Under Construction
						div.project-description An animated "site under construction" page with no JavaScript.

		h1 Collaborations
		ul.project-tiles
			li.project-tile
				a(href='https://csklimowski.itch.io/the-master-of-puzzles')
					img(src='/img/thumbnails/master-preview.png')
					div.project-info
						div.project-title The Master of Puzzles
						div.project-description An escape room game made for the Spring 2020 UArizona Virtual Game Jam.
			li.project-tile
				a(href='/projects/our-glass')
					img(src='/img/thumbnails/our-glass-preview.png')
					div.project-info
						div.project-title Our Glass
						div.project-description A game of hide-and-seek for two players on one keyboard.

block footer
	p &copy; 2015-2020 Chris Klimowski